<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- appel du css avec bulma framework via npm -->
    {{ $style := resources.Get "css/main.scss" | toCSS  | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" emotion="🤩">

    <!-- balise META -->
    <meta name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">{{ end }}
    <!-- favicone -->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <!-- SEO -->
    {{- partial "seo.html" . -}}


</head>