<body>

    <section class="">

        <header>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    <div class="tile is-parent is-vertical">
                        <div class=" is-child box">
                            <h1 class="title"> <a chref="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h1>
                            <p class="meta">{{ .Date.Format "02/01/2006" }}</p>
                            <h3 class="subtitle">
                                {{ .Slug }} </h3>
                        </div>

                    </div>