{{ partial "head.html" . }}


{{ partial "nav.html" . }}

<body>


    <div class="container is-fluid">

        <section class="section">
            <div class="container">

                <div class="columns is-multiline is-mobile
                ">
                    {{ range .Data.Pages }}
                    <div class="column column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd


                    ">
                        <div class="card" style="height: 100%">
                            <div class="card-image"><a href="#"><img src="" alt=""></a></div>


                            <h2 class="title has-text-centered is-6"><a href="{{ .RelPermalink }}"></a></h2>
                            <div class="card-content"><span class="is-size-7">25 Jun 2019</span>
                                <p class=" has-text-justified"> {{ .Summary }}
                                </p><br><a class="button is-primary" href="{{ .RelPermalink }}">Lire</a>
                            </div>
                        </div>
                    </div> {{ end}}
                </div>
            </div>
    </div>
    </section>
    </div>

    {{ partial "footer.html" . }}