{{ partial "head.html" . }}
{{ partial "nav.html" . }}



<section class="section">
    <div class="tile is-ancestor ">
        <div class="tile is-vertical is-8 ">
            <div class="tile ">
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child notification ">
                        <h1 class="title is-1 has-text-centered"> <a chref="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h1>
                        <p class="meta has-text-right is-small content">{{ .Date.Format "02/01/2006" }} </p>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child notification ">
                    <div class="content">
                        <main class=" has-text-justified"> {{ .Content }}</main>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification ">
                <div class="content">
                    <p class="is-small">Liens utiles</p>
                    <div class="content">
                        <!-- Contentenu futuremenu de blog -->
                    </div>
                </div>
            </article>

        </div>

    </div>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter"> {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.RelPermalink }}"> <button
                    class="button is-focused is-primary ">Precedent</button></a>{{ end }}
            {{ if .NextInSection }}
            <a href="{{ .NextInSection.RelPermalink }}"> <button class="button is-focused is-primary">
                    Suivant</button></a>{{ end }}

        </div>
    </div>

    </div>
</section>



{{ partial "footer.html" . }}