{{ partial "head.html" . }}
{{ partial "nav.html" . }}



<section class="section">
    <div class="tile is-ancestor ">
        <div class="tile is-vertical is-8 ">
            <div class="tile ">
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child notification ">
                        <h1 class="title is-1 has-text-centered"> <a chref="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h1>
                        <div class="block has-text-right "><small class="is-size-7"> {{ dateFormat "2 January, 2006" .Date }} <br>
                                Durée du
                                plasir : {{ math.Round (div (countwords .Content) 220.0) }} minutes.
                            </small>
                        </div>
                        <!-- tag et categorie-->

                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child notification ">
                    <div class="content">
                        <main class=" has-text-justified"> {{ .Content }}</main>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification message">
                <div class="content message-body">
                    <h4>Articles en relations</h4>
                    <!-- Contentenu futuremenu de blog -->

                    {{ $related := .Site.RegularPages.Related . | first 5 }}
                    {{ with $related }}
                    <p>
                        {{ range . }}
                        <a href="{{ .RelPermalink }}"> {{ .Title }} </a></br>
                        {{ end }}
                    </p>
                    {{ end }}
                </div>

            </article>

        </div>

    </div>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter"> {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.RelPermalink }}"> <button
                    class="button is-focused is-primary ">Precedent</button></a>{{ end }}
            {{ if .NextInSection }}
            <a href="{{ .NextInSection.RelPermalink }}"> <button class="button is-focused is-primary">
                    Suivant</button></a>{{ end }}

        </div>
    </div>

    </div>
</section>



{{ partial "footer.html" . }}