{{ partial "head.html" . }}
{{ partial "nav.html" . }}



<section class="section">
    <div class="tile is-ancestor ">
        <div class="tile is-vertical is-8 ">
            <div class="tile ">
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child notification ">
                        <h1 class="title is-1 has-text-centered"> <a chref="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h1>
                        <div class="block has-text-right"><small> {{ if ne .Site.Params.hide_author true }}
                                {{ with .Params.author }}
                                <div itemprop="author">{{ index . }}</div>
                                {{ else }}
                                <div itemprop="author"> {{ .Site.Params.author }}</div> <br>
                                {{ end }}
                                {{ end }} Le <time
                                    datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2 Jan, 2006" }}</time>
                                <br>
                        </div>
                        </small>
                        <div class="has-text-left">Durée du plasir : {{ math.Round (div (countwords .Content) 220.0) }}
                            minutes.
                            </small>
                        </div>
                        <!-- tag et categorie-->

                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child notification ">
                    <div class="content">
                        <main class=" has-text-justified"> {{ .Content }}</main>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification message">
                <div class="content message-body">
                    <h4>Articles en relations</h4>
                    <!-- Contentenu futuremenu de blog -->

                    {{ $related := .Site.RegularPages.Related . | first 5 }}
                    {{ with $related }}
                    <p>
                        {{ range . }}
                        <a href="{{ .RelPermalink }}"> {{ .Title }} </a></br>
                        {{ end }}
                    </p>
                    {{ end }}
                </div>

            </article>

        </div>

    </div>
    <div class="columns is-centered">
        <div class="column  ">
            {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.RelPermalink }}"> <button class="button  is-small is-left inverted is-primary ">
                    <span class="icon is-small">
                        <i class="fas fa-angle-left"></i>
                    </span> </button></a>{{ end }}</div>
        <div class="column "> {{ if .NextInSection }}
            <a href="{{ .NextInSection.RelPermalink }}"> <button class="button is-small is-right inverted is-primary">
                    <i class="fas fa-angle-right"></i> </button></a>{{ end }}

        </div>
    </div>

    </div>
</section>



{{ partial "footer.html" . }}